{% extends "outpost/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="border-bottom mb-2">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a class="btn btn-secondary" href="{% url 'oauth2:list' %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        {% trans "Go Back" %}
      </a>
      <a class="btn btn-primary" href="{% url "oauth2:edit" pk=application.pk %}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        {% trans "Edit" %}
      </a>
      <a class="btn btn-danger" href="{% url "oauth2:delete" pk=application.pk %}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {% trans "Delete" %}
      </a>
    </div>
  </div>
  <h1>
    {{ application.name }}
  </h1>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Description" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    {{ application.description }}
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Logo" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <img class="application-logo img-thumbnail" src="{{ application.logo.url }}"/>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Website" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <a href="{{ application.website }}" target="_blank">
      {{ application.website }}
    </a>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Privacy" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <a href="{{ application.privacy }}" target="_blank">
      {{ application.privacy }}
    </a>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Client ID" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <code>{{ application.client_id }}</code>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Client secret" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <code>{{ application.client_secret }}</code>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Client type" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    {{ application.client_type }}
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Authorization Grant Type" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    {{ application.authorization_grant_type }}
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Redirect Uris" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <code>{{ application.redirect_uris }}</code>
  </div>
</div>
{% endblock content %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'oauth2/application_detail.scss' %}" type="text/x-scss" charset="utf-8">
{% endblock %}
