{% extends 'outpost/base.html' %}

{% load i18n %}

{% block content %}
<div class="border-bottom mb-2">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a class="btn btn-primary" href="{% url 'oauth2:create' %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {% trans 'Application' %}
      </a>
    </div>
  </div>
  <h1>
    {% trans 'Your applications' %}
  </h1>
</div>
{% if applications %}
<div class="card-deck">
  {% for application in applications %}
  <div class="card">
    <img class="card-img-top bg-dark p-3" src="{{ application.logo.url }}" alt="{{ application.name }}">
    <div class="card-body">
      <h5 class="card-title">
        {{ application.name }}
      </h5>
      <p class="card-text">{{ application.description }}</p>
    </div>
    <div class="card-footer btn-group">
      <a href="{% url 'oauth2:detail' pk=application.pk %}" class="btn btn-xs btn-secondary">
        <i class="fa fa-envelope-open" aria-hidden="true"></i>
      </a>
      <a href="{% url 'oauth2:edit' pk=application.pk %}" class="btn btn-xs btn-secondary">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </a>
      <a href="{% url 'oauth2:delete' pk=application.pk %}" class="btn btn-xs btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  <strong>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </strong>
  {% trans 'No applications defined' %}.
</div>
{% endif %}
</div>
{% endblock content %}
