{% extends "outpost/body.html" %}

{% load i18n %}
{% load static %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'oauth2/authorize.scss' %}" type="text/x-scss" charset="utf-8">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row p-5">
    <div class="col-md"></div>
    <div class="col-md-8">
      {% if not error %}
      <form method="post" action=".">
        <div class="card w-100">
          <div class="card-header">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {% blocktrans with name=application.name %}Login to {{ name }}{% endblocktrans %}
          </div>
          <div class="card-body row">
            <div class="col-md-4 visible-md-block visible-lg-block">
              <img class="w-100" src="{{ application.logo.url }}" />
            </div>
            <div class="col-md-8">
              <h2 class="card-title">{{ application.name }}</h2>
              {% csrf_token %}
              {% for field in form %}
              {% if field.is_hidden %}
              {{ field }}
              {% endif %}
              {% endfor %}
              <p>
              {% trans "This application requires the following permissions" %}:
              </p>
              <ul class="list-group">
                {% for scope in scopes_descriptions %}
                <li class="list-group-item">
                  <i class="fa fa-ticket" aria-hidden="true"></i>
                  {{ scope }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <div class="pull-right">
              <button type="submit" class="btn btn-primary" name="allow" value="Authorize">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                {% trans 'Authorize' %}
              </button>
              <button type="submit" class="btn btn-secondary">
                <i class="fa fa-ban" aria-hidden="true"></i>
                {% trans 'Cancel' %}
              </button>
            </div>
          </div>
        </div>
      </form>
      {% else %}
      <div class="card text-white bg-danger w-100">
        <div class="card-header">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {% trans "Error" %}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {% blocktrans with error=error.error %}Error: {{ error}}{% endblocktrans %}
          </h5>
          <p class="card-text">
            {{ error.description }}
          </p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-md"></div>
  </div>
</div>
{% endblock %}
